logs
*.log
pids
node_modules
.npm
*.dat
node/config/ca_bundle.crt
node/config/certificate.crt
node/config/sslforfree.zip
node/config/private.pem
node/config/default.json
node/config/default - Copy.json
